/bin
/.go
/.push-*
/.container-*
/.dockerfile-*
*.toml
/gin-bin
/tmp

note
vendor/*
log.txt

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebignore/*
