/bin
/.go
/.push-*
/.container-*
/.dockerfile-*
config.*.local.toml
config.test.toml
/gin-bin
/tmp

note
vendor/*
log.txt

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebignore/*
/build/eb-deploy.zip
