/bin
/.go
/.push-*
/.container-*
/.dockerfile-*
/.env
/.toml
/gin-bin

vendor/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebignore/*
