# vi: ft=yaml 

container_commands:
  01_certbot_config_dir:
    command: "mkdir -p /etc/letsencrypt/configs /scripts"
  02_certbot_config_wget:
    command: "wget -q https://dl.eff.org/certbot-auto -O /scripts/certbot-auto"
  03_certbot_config_chmod:
    command: "chmod a+x ./certbot-auto"
    cwd: "/scripts"

files:
  "/etc/letsencrypt/configs/api.rkus.ninja.conf":
    mode: "000666"
    owner: root
    group: root
    content: |
      # domains to retrieve certificate
      domains = api.rkus.ninja

      # increase key size
      rsa-key-size = 4096

      # the email to receive renewal reminders, IIRC
      email = m@rkus.ninja

      # turn off the ncurses UI, we want this to be run as a cronjob
      text = True
