# vi: ft=yaml 

container_commands:
  # 01_python_and_git_install:
  #   command: "yum install python27-devel git"
  # 02_clone_letsencrypt_repo:
  #   command: "git clone https://github.com/letsencrypt/letsencrypt /opt/letsencrypt"
  # 03_letsencrypt_install:
  #   command: "/opt/letsencrypt/letsencrypt-auto --debug --os-packages-only"
  01_letsencrypt_config_dir:
    command: "mkdir -p /etc/letsencrypt/configs"

files:
  "/etc/letsencrypt/configs/api.rkus.ninja.conf":
    mode: "000666"
    owner: root
    group: root
    content: |
      # domains to retrieve certificate
      domains = api.rkus.ninja

      # increase key size
      rsa-key-size = 4096

      # the email to receive renewal reminders, IIRC
      email = m@rkus.ninja

      # turn off the ncurses UI, we want this to be run as a cronjob
      text = True
