# vi: ft=yaml 

container_commands:
  01_certbot_install:
    command: "pip install -U certbot"
  02_certbot_config_dir:
    command: "mkdir -p ~/.certbot/config"
  03_certbot_work_dir:
    command: "mkdir -p ~/.certbot/work"
  04_certbot_logs_dir:
    command: "mkdir -p ~/.certbot/logs"

files:
  "~/.certbot/config/api.rkus.ninja.conf":
    mode: "000666"
    owner: root
    group: root
    content: |
      # domains to retrieve certificate
      domains = api.rkus.ninja

      # increase key size
      rsa-key-size = 4096

      # the email to receive renewal reminders, IIRC
      email = m@rkus.ninja

      # turn off the ncurses UI, we want this to be run as a cronjob
      text = True
