# vi: ft=yaml

Resources:
  AllowECRAccessPolicy:
    Type: "AWS::IAM::Policy"
    Properties:
      Roles:
        - "aws-elasticbeanstalk-ec2-role"
      PolicyName: "markus-ninja-api-ecr-access-policy"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Action:
              - "ecr:GetAuthorizationToken"
            Resource:
              "*"
          - Effect: "Allow"
            Resource:
              "Fn::Sub": "arn:aws:ecr:${AWS::Region}:${AWS::AccountId}:repository/markus-ninja-api-amd64"
            Action:
              - "ecr:BatchCheckLayerAvailability"
              - "ecr:GetDownloadUrlForLayer"
              - "ecr:GetRepositoryPolicy"
              - "ecr:DescribeRepositories"
              - "ecr:ListImages"
              - "ecr:BatchGetImage"
