# vi: ft=yaml
# Redirect http to https

# files:
#   "/etc/nginx/conf.d/https-redirect.conf":
#     mode: "000600"
#     owner: root
#     group: root
#     content: |
#       server {
#           listen        80;
#           server_name    api.rkus.ninja;
#
#           return 301 https://$server_name$request_uri;
#       }
