# vi: ft=yaml
# KMS key used for auth token generation

Resources:
  ApiKey:
    Type: 'AWS::KMS::Key'
    Properties:
      Description: 'Api Key for application markus-ninja'
      Enabled: true
      EnableKeyRotation: true
      KeyPolicy:
        Version: '2012-10-17'
        Statement:
          - Sid: 'Allow administration of the key'
            Effect: 'Allow'
            Principal:
              AWS: 
                "Fn::Sub": "arn:aws:iam::${AWS::AccountId}:user/markus"
            Action:
              - 'kms:*'
            Resource: '*'
          - Sid: 'Allow ec2 instances full access to the key'
            Effect: 'Allow'
            Principal:
              AWS: 
                "Fn::Sub": "arn:aws:iam::${AWS::AccountId}:role/aws-elasticbeanstalk-ec2-role"
            Action:
              - 'kms:*'
            Resource: '*'
  ApiKeyAlias:
    Type: 'AWS::KMS::Alias'
    Properties:
      AliasName: 'alias/markus-ninja-api-key-alias'
      TargetKeyId:
        "Ref": "ApiKey"

option_settings:
  aws:elasticbeanstalk:application:environment:
    API_KEY: '`{"Ref": "ApiKeyAlias"}`'
