# vi: ft=yaml 
# Install mariadb on ec2 instances for debugging purposes

files:
  "/etc/yum.repos.d/MariaDB.repo":
    mode: "000644"
    owner: root
    group: root
    content: |
      [mariadb]
      name = MariaDB
      baseurl = http://yum.mariadb.org/10.1/centos6-x86/
      gpgkey = https://yum.mariadb.org/RPM-GPG-KEY-MariaDB
      gpgcheck = 1

container_commands:
  01_mariadb_install:
    command: "sudo yum install -y MariaDB-server MariaDB-client"
  # 02_mariadb_start:
  #   command: "sudo service mysql start"

