# vi: ft=yaml 
# Install postgresql on ec2 instances for debugging purposes

container_commands:
  01_postgresql_install:
    command: "sudo yum install -y postgresql"
  02_postgresql_script:
    command: "mkdir -p /scripts"

files:
  "/scripts/psql_connect":
    mode: "000755"
    owner: root
    group: root
    content:
      #!/bin/bash
      psql \
      --host=markus-ninja-postgres.c2pp0svv6cjy.us-east-1.rds.amazonaws.com \
      --port=5432 \
      --username=markus \
      --password \
      --dbname=markusninja

