# vi: ft=yaml

Resources:
  AllowSESAccessPolicy:
    Type: "AWS::IAM::Policy"
    Properties:
      Roles:
        - "aws-elasticbeanstalk-ec2-role"
      PolicyName: "markus-ninja-api-s3-access-policy"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Action:
              - "s3:GetObject"
              - "s3:PutObject"
            Resource:
              "Fn::Sub": "arn:aws:s3:::markus-ninja-production-user-asset-${AWS::Region}/*"
