# vi: ft=yaml

Resources:
  AllowECRAccessPolicy:
    Type: "AWS::IAM::Policy"
    Properties:
      Roles:
        - "aws-elasticbeanstalk-ec2-role"
      PolicyName: "markus-ninja-api-ses-access-policy"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Action:
              - "ses:SendEmail"
              - "ses:SendRawEmail"
            Resource:
              "*"
            Condition:
              StringEquals:
                ses:FromAddress: "*@rkus.ninja"
